[submodule "resource/hermes-agent"]
	path = resource/hermes-agent
	url = https://github.com/NousResearch/hermes-agent.git
	branch = main
[submodule "resource/templestay"]
	path = resource/templestay
	url = https://github.com/hibiki12y/templestay
